// app/assets/stylesheets/config/_fonts.scss
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;700&display=swap');

$body-font: 'Work Sans', sans-serif;
$font-base: $body-font; // alias for consistency - not a good solution have to fix later
$headers-font: 'Playfair Display', serif;
$font-accent: 'Cedarville Cursive', cursive;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
